* {
	padding: 0%;
	margin: 0%;

	box-sizing: border-box;
}

body {
	background-color: #e31837;
}

.logo {
	right: 0%;
	bottom: 0%;
	position: absolute;
	/* margin: 30px; */
}

.logo img {
	width: 400px;
	margin: 40px;

}

.text {
	margin-top: 90px;
}